@model IEnumerable<Blog>

<div class="row" style="display:flex; align-items:flex-start" >
    <a class="btn btn-outline-success" asp-controller="Blog" asp-action="CreateBlog">Criar Um Blog</a>
</div>

<ul>
    @foreach (var blog in Model)
    {
        <li>
            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@blog.BlogId">Entrar</a> @blog.Nome, @blog.Admin.UserName
        </li>
    }
</ul>